*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.menu {
    background: #000;
}

.menu .menu-list,
.menu .sub-menu {
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.menu>.menu-list>li {
    float: left;
    position: relative;
}

.menu>.menu-list>li>a {
    padding: 20px;
    margin: 0 5px;
    background: #000;
}

.menu>.menu-list>li:hover a {
    background: #E89372;
}

.menu>.menu-list>li:hover>.sub-menu {
    display: block;
}

.menu>.menu-list>li>.sub-menu {
    position: absolute;
    top: 50px;
    left: 5px;
    background: #E89372;
    min-width: 200px;
    z-index: 1000;
    display: none;
}

.menu>.menu-list>li>.sub-menu>li>a {
    padding: 10px 20px;
}

.menu:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}

a:link,
a:visited {
    color: #fff;
}

#cx1 {
    width: 300px;
    height: 242px;
    float: left;
    left: 100px;
    position: absolute;
    top: 150px;
    
}

#cx2 {
    width: 300px;
    height: 242px;
    float: left;
    left: 910px;
    position: absolute;
    top: 150px;
    
}

#cx3 {
    width: 300px;
    height: 242px;
    float: left;
    left: 700px;
    position: absolute;
    top: 620px;
    
}

#cx4 {
    width: 300px;
    height: 242px;
    float: left;
    left: 530px;
    position: absolute;
    top: 150px;
    
}

#cx5 {
    width: 300px;
    height: 242px;
    float: left;
    left: 300px;
    position: absolute;
    top: 620px;
    
}

.text {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.figuras {
    width: 1300px;
    height: 300px;
}

.fig {width: 1300px;
    height: 1100px;

}

#principal {
    width: 1300px;
    height: 1560px;
    margin: auto;
    position: relative;
}

#banner {
    width: 1300px;
    height: 300px;
    background-color: #f7d3c5;
    position: absolute;
    top: 58px;
}

#corpo {
    width: 1300px;
    height: 1100px;
    position: absolute;
    top: 358px;
}

#foto1 {float: left;
    left: 100px;
    position: absolute;
    top: 635px;

}

#foto2 { float: left;
    left: 950px;
    position: absolute;
    top: 200px;

}

#texto1 {
    width: 700px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 550px;
}

#texto2 {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 520px;
    left: 100px;
}

#rodape {
    width: 1300px;
    height: 260px;
    left: 25px;
    position: absolute;
    background-color: #f7d3c5;
    top: 1420px;
}

#rodape1 {
    width: 1300px;
    height: 260px;
    left: 0px;
    position: absolute;
    background-color: #ff8fd6;
    top: 1310px;
}

#rodape2 {
    width: 1300px;
    height: 260px;
    left: 25px;
    position: absolute;
    background-color: #ff8fd6;
    top: 1460px;
    bottom: 0;
}


#slider {
    width: 100%;
    max-width: 1300px;
    height: 70vw;
    max-height: 1100px;
    top: 300px;

    position: relative;
}

#slider img{
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}


#txt {
    position: absolute;
    top: 100px;
    left: 100px;
}

#icon-face {
    width: 50px;
    height: 50px;
    left: 100px;
    top: 200px;
    position: absolute;
}

#face {
    left: 70px;
    top: 260px;
    position: absolute;
}

#icon-insta {
    width: 50px;
    height: 50px;
    left: 310px;
    top: 200px;
    position: absolute;
}

#insta {
    left: 270px;
    top: 260px;
    position: absolute;
}

#icon-tt {
    width: 50px;
    height: 50px;
    left: 505px;
    top: 200px;
    position: absolute;
}

#tt {
    left: 480px;
    top: 260px;
    position: absolute;
}

#icon-pin {
    width: 50px;
    height: 50px;
    left: 695px;
    top: 200px;
    position: absolute;
}

#pin {
    left: 660px;
    top: 260px;
    position: absolute;
}

#icon-ttk {
    width: 50px;
    height: 50px;
    left: 890px;
    top: 200px;
    position: absolute;
}

#ttk {
    left: 870px;
    top: 260px;
    position: absolute;
}

#icon-wpp {
    width: 50px;
    height: 50px;
    left: 1085px;
    top: 200px;
    position: absolute;
}

#wpp {
    left: 1050px;
    top: 260px;
    position: absolute;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 4em;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
    color: #eeeeee;
}

.share-btn:active {
    position: relative;
    top: 10px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}

.botao {
    background-color: #000;
}

.long-share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em 1.5em;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    outline: none;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.long-share-btn:hover {
    color: #eeeeee;
}

.long-share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}

a.long-share-btn {
    text-decoration: none;
}